<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<form class="form-horizontal" method="POST" th:action="@{/cadernos}"
		th:object="${caderno}">
		<div layout:include = "MessagemErro"></div>
		
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Novo Caderno</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/cadernos}">Voltar
						</a>
				</div>
			</div>

			<div class="panel-body">
				<input type="hidden" th:field="*{idCaderno}" />

				<div class="form-group"
					th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="nome"
							th:field="*{nome}" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? has-error">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="descricao"
							th:field="*{descricao}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>



</section>
</html>