<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<form class="form-horizontal" method="POST" th:action="@{/lembretes}"
		th:object="${lembrete}">
		<div layout:include="MessagemErro"></div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title aw-titulo-panel">Novo Lembrete</h1>
					<a class="btn btn-link aw-link-panel" th:href="@{/lembretes}">Voltar
					</a>
				</div>
			</div>

			<div class="panel-body">
				<input type="hidden" th:field="*{idLembrete}" />

				<div class="form-group"
					th:classappend="${#fields.hasErrors('caderno')} ? has-error">
					<label for="caderno" class="col-sm-2 control-label">Caderno</label>
					<div class="col-sm-2">
						<select class="form-control"
							th:field="*{caderno}">
							<option value="">Escolha o Caderno</option>
							<option th:each="caderno : ${allcadernos}"
								th:value="${caderno.idCaderno}" th:text="${caderno.nome}"></option>
						</select>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('titulo')} ? has-error">
					<label for="titulo" class="col-sm-2 control-label">Título</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="titulo"
							th:field="*{titulo}" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('detalhes')} ? has-error">
					<label for="detalhes" class="col-sm-2 control-label">Detalhes</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="detalhes"
							th:field="*{detalhes}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>



</section>
</html>