<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Lembretes</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/lembretes/novo}">Novo Lembrete</a>
		</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Caderno</th>
					<th>Título</th>
					<th>Detalhes</th>
					<th colspan ="2"> Ação </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lembrete : ${lembretes}">
					<td th:text="${lembrete.caderno.nome}">xxx</td>
					<td th:text="${lembrete.titulo}">xxxxxx</td>
					<td th:text="${lembrete.detalhes}">xxxxxx</td>
					<td><a th:href="@{/lembretes/alterar/}+${lembrete.idLembrete}" class="glyphicon glyphicon-pencil"></a></td>
					<td><a class="btn btn-link btn-xs" data-toggle="modal"
						data-target="#confirmacaoExclusaoModal"
						th:attr="data-codigo=${lembrete.idLembrete}, data-descricao=${lembrete.titulo}, data-model='lembrete' "
						title="Excluir" rel="tooltip" data-placement="top"> <span
						class="glyphicon glyphicon-remove"></span>
						</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>