<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Cadernos</h1>
			<a class="btn btn-link aw-link-panel" th:href="@{/cadernos/novo}">Novo Caderno</a>
		</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th colspan ="2"> Ação </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="caderno : ${cadernos}">
					<td th:text="${caderno.nome}">xxx</td>
					<td th:text="${caderno.descricao}">xxx@xxx</td>
					<td><a th:href="@{/cadernos/alterar/}+${caderno.idCaderno}" class="glyphicon glyphicon-pencil"></a></td>
					<td><a class="btn btn-link btn-xs" data-toggle="modal"
						data-target="#confirmacaoExclusaoModal"
						th:attr="data-codigo=${caderno.idCaderno}, data-descricao=${caderno.nome}, data-model='caderno' "
						title="Excluir" rel="tooltip" data-placement="top"> <span
						class="glyphicon glyphicon-remove"></span>
						</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>